absl-py>=0.13.0
chex>=0.1
dill>=0.3.4
dm-env>=1.5
dm-haiku>=0.0.9
dm-tree>=0.1.8
flatbuffers>=2.0
jax>=0.4.13
jaxlib>=0.4.13
ml-collections>=0.1.0
numpy>=1.24
opt-einsum>=3.3.0
optax>=0.1
PyYAML>=5.4.1
scipy>=1.10
six>=1.16.0
tabulate>=0.8.9
toolz>=0.11.1
